.app {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
}



.navbar {
  display: grid;
  grid-template-areas: "logo search home-logo about-us-logo" ;
  grid-template-columns: .5fr 1fr .5fr;
  flex-direction: row; /* The direction text is laid out in a line */
  grid-column: 1 / 4; 
  grid-row: 1;
  width: 100%;
  background: black;
  align-items: center; /* Sets the alignment on all direct children, as a group*/
}

span {
  font-weight: bold;
}

.no-searches {
  text-align: center;
}
